html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f0f0f0;
	width: 100%;
	height: 100%; /* 수정된 부분 */
	padding: 20px; /* 모든 뷰포트 사이즈에 일관되게 적용 */
	box-sizing: border-box; /* 패딩을 포함하여 높이 계산 */
}

#app {
	max-width: 500px;
	margin: auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	width: calc(100% - 40px); /* 패딩을 고려한 너비 계산 */
	height: auto; /* 패딩을 고려한 높이 계산 */
	box-sizing: border-box; /* 패딩을 포함하여 높이 계산 */
	overflow-y: auto; /* 내용이 넘치면 스크롤 바 표시 */
	padding-top: 8px;
	padding-bottom: 8px;
}

#home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nameForm {
	padding-top: 16px;
	justify-content: space-between;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

form {
	display: flex;
	flex-direction: column;
	width: 75%;
}

label,
input,
button {
	margin-bottom: 10px;
}

label {
	font-size: 1.3em;
}

input {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

input::placeholder {
	font-size: 1.2em;
}

button {
	background-color: #0076dd;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 0.8em;
}

button:hover {
	background-color: #006acc;
}

#readme-content {
	background-color: #f6f8fa;
	padding: 1em;
	overflow: auto;
	font-family: Hack, monospace;
	font-size: 0.8em; /* 상위 요소의 글씨 크기의 80% */
	white-space: pre-wrap;
	margin: 8px;
}

#readme-content h1,
h2,
p,
ul,
ol {
	margin: 0px;
}

@media (min-width: 500px) {
	body {
		padding: 20px;
	}

	#app {
		border-radius: 5px;
	}

	#readme-content h1,
	h2,
	p,
	ul,
	ol {
		margin: 16px;
	}
}
